{% extends 'base.html.twig' %}

{% block breadcrumbs %}

    <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{% trans %}BREADCRUMB_USERS{% endtrans %}</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="{{ path('users_index') }}">{% trans %}PATH_USERS_USERS{% endtrans %}</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans %}USERS_ID{% endtrans %}</td><td>{% trans %}USERS_USERNAME{% endtrans %}</td><td>{% trans %}USERS_EMAIL{% endtrans %}</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('users_edit', {'id': user.id}) }}">{{ user.id }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}