{% extends 'base.html.twig' %}

{% block breadcrumbs %}

    <div class="c-layout-breadcrumbs-1 c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{% trans %}BREADCRUMB_SONG_BUNDLES{% endtrans %}</h3>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li>
                    <a href="{{ path('songs_index') }}">{% trans %}PATH_SONGS_SONGS{% endtrans %}</a>
                </li>
                <li>/</li>
                <li>
                    <a href="{{ path('song_bundles_index') }}">{% trans %}PATH_SONG_BUNDLES_INDEX{% endtrans %}</a>
                </li>
                <li>/</li>
                <li>
                    <a href="{{ path('song_bundles_edit', {'id': form.vars.data.id}) }}">{% trans %}PATH_SONG_BUNDLES_EDIT{% endtrans %}</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    {{ form_row(form.abbreviation) }}
    {{ form_row(form.name) }}
    {{ form_row(form.submit, {'label': 'BUTTON_SONG_BUNDLE_EDIT'}) }}
    {{ form_end(form) }}
{% endblock %}