
    <!-- BEGIN: CONTENT/USER/LOGIN-FORM -->
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_widget(form.email, {'attr': {'placeholder': form.email.vars.label, 'class': 'form-control input-lg c-square'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'c-theme-btn btn-md'}}) }}
            <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">{% trans %}BASE_BACK_TO_LOGIN{% endtrans %}</a>
        </div>
        {{ form_end(form) }}
    <!-- END: CONTENT/USER/LOGIN-FORM -->
{#                             <form>
                                <div class="form-group">
                                    <label for="forget-email" class="hide">{% trans from "forms" %}LABEL_PASSWORD_RECOVERY_EMAIL{% endtrans %}</label>
                                    <input type="email" class="form-control input-lg c-square" id="forget-email" placeholder="Email"> </div>
                                <div class="form-group">
                                    <button type="submit" class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">{% trans from "forms" %}BUTTON_PASSWORD_RECOVERY_SUBMIT{% endtrans %}</button>

                                </div>
                            </form> #}