{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.song_group) }}
    {{ form_end(form) }}

    {% if (songs is not null) %}

        <table>
        <tr>
            <td>ID</td><td>Song Number</td><td>Title</td>
        </tr>
        {% for song in songs %}
            <tr>
                <td><a href="{{ path('songs_edit', {'id': song.id}) }}">{{ song.id }}</a></td>
                <td>{{ song.songno }}</td>
                <td>{{ song.title }}</td>
            </tr>
        {% endfor %}
        </table>

    {% endif %}
{% endblock %}